# The test workflow should run whenever changes are pushed to a pull request
# branch or to 'main'. For any changes pushed to 'main', this workflow should
# only run after a version update. This workflow should
# - set up the build environment,
# - checkout the code,
# - build the code,
# - run linting checks, and
# - run unit tests.
#
# A release should be created on 'main' after tests pass.

name: Continuous integration

on:
  push:
    branches:
      - main
    paths:
      - VERSION
  pull_request:
    paths:
      - "**"
      - "!.github/**"
      - ".github/workflows/build-and-test.yml"
      - "!docs/**"
      - "!.clang-format"
      - "!.gitignore"
      - "!LICENSE"
      - "!README.md"
      - "!VERSION"

env:
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
  VERSION_FILE: VERSION
  CPP_COMPILER: "g++"

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container: ghcr.io/modcam/devcontainer:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up cache
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Set up Git LFS
        run: git lfs install

      - name: Configure
        run: >
          cmake -S .
          -DCMAKE_CXX_COMPILER=${{ env.CPP_COMPILER }}
          -DCMAKE_BUILD_TYPE=Release
          --preset linting

      - name: Build
        run: cmake --build build --config Release

      - name: Test
        id: ctest
        run: ctest --test-dir build --build-config Release

      - name: Check failed tests
        if: ${{ failure() && steps.ctest.conclusion == 'failure' }}
        run: ctest --test-dir build --build-config Release --rerun-failed --output-on-failure

      - name: Package
        id: package
        if: github.ref_name == github.event.repository.default_branch
        run: |
          cd build/
          cpack -C Release -B ./package-artifacts

      - name: Upload package artifacts
        if: steps.package.outcome == 'success'
        uses: actions/upload-artifact@v4
        with:
          name: cmake-packages
          path: build/package-artifacts/*.*
          retention-days: 5

  # Make sure the documentation is not broken.
  build-docs:
    name: Build docs
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container: ghcr.io/modcam/devcontainer:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build docs
        run: |
          source /root/.venv/bin/activate
          cmake -S . --preset "build-docs-only"
          cmake --build build --config Release

  sbom:
    name: Software bill of materials
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container: ghcr.io/modcam/devcontainer:latest
    needs: [build-and-test, build-docs]
    if: github.ref_name == github.event.repository.default_branch
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update dependency graph
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VCPKG_FEATURE_FLAGS: dependencygraph
        run: vcpkg install --dry-run

  create-release:
    name: Create release
    runs-on: ubuntu-latest
    needs: [sbom]
    if: github.ref_name == github.event.repository.default_branch
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download package artifacts
        uses: actions/download-artifact@v4
        with:
          name: cmake-packages
          path: package-artifacts
          merge-multiple: true

      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.SBOM_API_APP_ID }}
          private-key: ${{ secrets.SBOM_API_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Download SBOM
        run: >
          curl -L \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer $SBOM_TOKEN" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/$REPO/dependency-graph/sbom \
            --output modcam-sbom.json
        env:
          SBOM_TOKEN: ${{ steps.app-token.outputs.token }}
          REPO: ${{ github.repository }}

      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          version="$(< ${{ env.VERSION_FILE }})"
          gh release create $version ./package-artifacts/*.tar.gz ./package-artifacts/*.zip CHANGELOG.md modcam-sbom.json
